html{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 100, 163, 0.904);
}
.fas.fa-star, .fas.fa-star-half{
    width: 0.5em;
}
.text{
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.logo{
    width: 10em;
    height: 10em; 
    border-radius: 50%;   
}
.logo-box{
    display: inline-block;
    width: 20%;
    margin: 0em 1em;
}
.address{
    color: rgba(255, 255, 255, 0.911);
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin: 1.5em 0em;
    font-weight: 300;
    letter-spacing: 0.1em; 
}
i{
    margin-right: 0.5em;
}
p{
    color: rgba(255, 255, 255, 0.911);
    margin: 0px;    
    font-size: 1.4em;
    line-height: 1.8em;   
}
.container{
    background-image: linear-gradient(-60deg, #f09819 0%, #ff5858 100%);
    height: 100vh;
    /**
        El 'width' de este div por defecto abarca todo el ancho, asi que no se pone width: 100vh;
    */
    display: flex;
    align-items: center;
    justify-content: center;

}
.title{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 20%;
}
h1, h2{    
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgba(128, 41, 23, 0.308);
    font-size: 2.2em;
    font-weight: 700;    
    letter-spacing: 0.1em; 
}
a:hover{
    opacity: 0.45;
}
.title h1{
    font-size: 2em;
    text-transform: uppercase;
}
.table{
    height: 80%;
    width: 90%;
    border-spacing: 0px;
}
.table tbody{    
    font-size: 1.3em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.911);
}
.table th{
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.904);
    font-weight: 700;
}
.table th, .table td{
    padding: 0em;
    text-align: left;
}
.table th{
    padding-right: 0.3em;
}
.table tr:nth-child(even){
    background-color: rgba(255, 88, 88, 0.158);
}
section{
    margin: 0em auto;
    height: 70%;
}
.content,section{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.content{
    flex-wrap: wrap;
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 1.8em;
    box-shadow: 4px 4px 16px 10px rgba(128, 40, 23, 0.253);
    position: relative;
    /**
        overflow-y: scroll;
        overflow-x: hidden;
    */
}
.content.page{
    height: 50vh;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}
.close{
    height: 1.4em;
    width: 1.4em;
    color: #f09819;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16), 0px 3px 8px rgba(0, 0, 0, 0.21);
}

@media (max-width: 600px){
    .content{
        height: 500px;
        overflow-y: scroll;
        margin: 0em 0.5em;
    }
    .title{
        font-size: 0.9em;
        height: 30%;
    }
    td{
        margin-bottom: 1em;
        display: block;
        width: 100%;
    }
    td:nth-of-type(1){
        font-size: 1.6em;
        font-weight: 700;
    }
    th{
        display: none;
    }
    .content.page{
        height: 500px;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
    }
    .logo-box{
        display: inline-block;
        width: 100%;
    }
    .logo{
        display: flex;
        margin: auto;
    }
    
}