html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: wheat;
    padding: 24px 16px;
    font-size: 20px;
}
.red{
    height: 400px;
    width: 400px;
    background-color: rgb(43, 81, 114);
    box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
#boton-pago{
    background-color: thistle;
}
td{
    border: solid 1px blue;
}
h2{
    margin: 16px;
}
.logo{
    width: 200px;
    height: 200px;
    margin: 16px;
    display: inline-block;
}
.address{
    display: inline-block;
    margin: 16px;
}